<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aman</title>
</head>
<body>
    <h4>My Name is <i><%= myName %></i></h4> 
</body>
</html>