<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= username %> ki Profile</title>
</head>
<body>
    <h2>Dynamic Routing With Ejs</h2>
    <h1>Mera naam hai <%= username %></h1>
    <p>Kyuki mai <%= username %> ki hi to profile hun...🤣</p>
</body>
</html>